<mat-toolbar color="primary">
  <span class="brand">Weekly Report System</span>

  <span class="spacer"></span>

  <ng-container *ngIf="authService.currentUser() as user">
    <span class="user-name">{{ user.name }}</span>

    <span
      class="role-chip">
      {{ user.role.replace('_', ' ') | titlecase }}
    </span>

    <button
      class="logout-button"
      mat-stroked-button
      (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-container>
</mat-toolbar>